.calculator {
  display: flex;
}

.calculator__title {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.calculator__form {
  width: 680px;
  border-radius: 8px;
  background-color: #ececec;
  color: #000000;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px #000;
  padding: 10px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  padding: 20px 185px;
}

.form__fieldset-block {
  border: none;
  margin-bottom: 15px;
  padding: 0;
}

.form__fieldset-block:last-of-type {
  margin-bottom: 20px;
}

.form__label {
  font-variant: small-caps;
}

.form__input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
}

.form__fieldset-wrapper {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 15px;
  padding: 0;
}

.form__math-operation {
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  background-color: #fff;
  flex-basis: 33px;
  margin-bottom: 0;
}

.form__math-operation:hover {
  background-color: #fafafa;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.form__math-operation:focus {
  background-color: #c2c2c2;
  outline: 2px solid #b4b4b4;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.form__input-operation:checked + .form__math-operation,
.form__math-operation:active {
  background-color: #eeeeee;
  outline: 2px solid #b4b4b4;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  color: #a3a3a3;
}

.form__input-operation {
  display: none;
  appearance: none;
}

.form__button {
  border-radius: 6px;
  background-color: #3a3a3a;
  color: #f8f8f8;
  margin-bottom: 15px;
  padding: 12px 50px;
}

.form__button:hover {
  background-color: #494949;
  color: #fff;
}

.form__button:focus {
  background-color: #525252;
}

.form__button:disabled {
  background-color: #e0e0e0;
  color: #fff;
  cursor: default;
}

.form__result {
  text-align: center;
  font-weight: 900;
  margin-bottom: 15px;
  text-shadow: none;
}

.form__example-result {
  color: #aaaaaa;
}

.form__clear {
  border-radius: 6px;
  border-color: #282828;
  padding: 10px 10px;
}

@media (max-width: 772px) {
  .calculator__form {
    width: 500px;
  }

  .form__fieldset {
    padding: 20px 113px;
  }
}

@media (max-width: 590px) {
  .calculator__form {
    width: 350px;
  }

  .form__fieldset {
    padding: 20px 40px;
  }
}

@media (max-width: 420px) {
  .header__title {
    font-size: 2rem;
  }

  .calculator__form {
    width: 260px;
  }

  .form__fieldset {
    padding: 20px 10px;
  }

  .form__fieldset-wrapper {
    gap: 25px;
  }
}